.active {
    background-color: #1A9BFC;
    border-radius: 11%;
}

li span
{
    color:white;
    margin-left:3%;
    font-size:20px;
    height:auto;
    font-family: "Oswald", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: aliceblue;
    border-radius: 11px;
}

li i {
    color:white;
    height:auto;

}

