<!-- src/app/signup/signup.component.html -->

<form (submit)="onSubmit()" #registrationForm="ngForm" class="d-flex container flex-column" style="max-width:20vw ; margin-top:100px ;border: 3px double rgb(77, 199, 199); border-radius: 20px; padding: 40px;color:rgb(77, 199, 199)  ;background-color:rgba(0, 0, 0, 0.5)">
  <div *ngIf="userType === 'client'">
    <h2>Client Register</h2>
    </div>  
<div *ngIf="userType === 'expert'">
    
  <h2>Expert Register</h2>
  
</div><label for="username" class="form-label">Username:</label>
 <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
 
 <label for="email" class="form-label">Email:</label>
 <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
 
 <label for="password" class="form-label">Password:</label>
 <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required>
 <label for="picture" class="form-label">Profile Picture (optional):</label>
<input type="file" id="picture" (change)="onFileChange($event)" name="picture" class="form-control">

 <!-- Additional fields for client and expert -->
   <label for="bankAccount" class="form-label">Bank Account:</label>
   <input type="text" id="bankAccount" [(ngModel)]="user.bankAccount" name="bankAccount" class="form-control">
   
 <div *ngIf="userType === 'expert'">
   <label for="jobTitle" class="form-label">Job Title:</label>
   <input type="text" id="jobTitle" [(ngModel)]="user.jobTitle" name="jobTitle" class="form-control">
   <label for="speciality" class="form-label">Speciality:</label>
   <input type="text" id="speciality" [(ngModel)]="user.speciality" name="speciality" class="form-control">
   <label for="jobDescription" class="form-label">Job Description:</label>
   <input type="file" id="jobDescription" (change)="onJobDescriptionFileChange($event)" name="jobDescription" class="form-control">
 </div>
 
 <button type="submit" style="margin-top:20px ; width: 50%; margin-left: 25%; border: double 1px rgb(77, 199, 199)" class="btn btn-outlined-info text-info"  >Register</button>
</form>
