<!--<app-nav-bar></app-nav-bar>-->
<div id="SearchPage" class="row">
    <div class="Parts left col-1">
      <form id="SearchsContainer">
        <div class="searchsA">
        <!--Mark-->
          <select name="selectedMark" [(ngModel)]="selectedMark" (change)="onMarkChange()" class="custom-select" id="inputGroupSelect04 Mark">
            <option value="">Choose Mark</option>
            <option *ngFor="let mark of marks" [value]="mark">{{ mark }}</option>
          </select> 
        </div>
        <!--Model-->
        
        <div class="searchsA">
          <select class="custom-select" id="inputGroupSelect04 Model" name="selectedModel" [(ngModel)]="selectedModel">
            <option value="">Choose Model</option>
            <option *ngFor="let model of models" [value]="model">{{ model }}</option>
          </select> 
        </div>
 
        <div class="searchsA">
          <!-- third dropdown for models -->
          <div style="display: flex; justify-content: space-around">
            <label for="priceRange">Price (Max) :</label>
            <span style="width: 81px;">{{ priceRangeValue }} DTN</span>
          </div>
          <input type="range" id="priceRange" name="price" min="3000" max="1000000" value="3000" (input)="updatePriceRange($event)">
          
          <!-- third Prime dropdown for models -->
          <div style="display: flex; justify-content: space-around">
            <label for="priceRange2">Price (Min) :</label>
            <span style="width: 81px;">{{ priceRangeValue2 }} DTN</span>
          </div>
          <input type="range" id="priceRange2" name="price2" min="3000" max="1000000" value="3000" (input)="updatePriceRange2($event)">
        </div>

          <button class="btn btn-primary" id="SearchButton" (click)="onSearch()">
            Search
          </button>
      </form>
    </div>    
    
    <div id="SearchArea" class="Parts col-10">
        <div id="theShow">
            <div id="ShowList">
              <!--First-->
              <div class="SoloCard card bg-light mb-3" *ngFor="let car of searchResults">
                  <div class="card-body" style="display: flex !important; max-width:660px ;">
                    <div style="margin: auto 0px;">
                      <img class="card-img-top" style="border: ridge; object-fit: cover; width: 400px !important; height: 200px !important;" [src]="getFirstPicture(car.pictures)" alt="Card image cap">
                    </div>
                    <div style="display:flex;flex-direction: column; gap: 10px; padding:0px 10px 0px 10px">
                      <div style="display: flex;height: fit-content;"> 
                        <div class="card-header"><b>Mark:</b> {{ car.mark }}</div>
                        <p class="card-header"><b>Model:</b> {{ car.model }}</p>
                        <p class="card-header"><b>Price:</b> {{ car.price }}</p>
                      </div>
                       <p style="display: flex;max-height: 140px;overflow-y: auto;flex-direction: column;width: 220px;"><b>Description :</b> {{ car.description }}</p>
                    </div>
                  </div>
                  <div class="BTNG">
                    <button type="button" class="btn btnC btn-success"(click)="addedCar(car)" >Buy</button>
                    <button type="button" class="btn btnC btn-info" data-toggle="modal" data-target="#myModal" (click)="selectCar(car)">Info</button>
                    <button type="button" class="btn btnC btn-warning" (click)="contactCarOwner(car.id)">Contact</button>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>



 <!-- The Modal -->
 <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
 
    <!-- Modal content-->
  <div class="modal-content" style="width: 100%; padding:20px">
    
    <div class="modal-body choice-modal" >
      <div class="container-fluid">
        <div class="row inner-scroll" >
          <!--Start-->
          <div class="container">
            <div class="row m-0"  style="display: grid !important;">
                <div class="col-lg-7 pb-5 pe-lg-5" style="padding: 0px !important;" >
                    <div class="row">
                        <div class="col-12 p-5"  style="padding: 9px !important;">
                          <img class="imgShow" [src]="getFirstPicture(selectedCar?.pictures)" alt="">
                          alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-0 ps-lg-4" style="display: contents;">
                    <div class="row m-0" style="padding:20px 0px 0px 0px ;
                                                margin: 0px 0px 0px 0px !important;
                                                --bs-bg-opacity: 1;
                                                background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
                        <div class="col-12 px-4" style="overflow-y: auto;">
                            <div class="d-flex justify-content-between mb-2">
                                <p class="textmuted">Mark</p>
                                <p class="fs-14 fw-bold">{{selectedCar?.mark}}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="textmuted">Model</p>
                                <p class="fs-14 fw-bold">{{selectedCar?.model}}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <p class="textmuted">ABS</p>
                                <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.abs ? 'Yes' : 'No'}}</p>
                                <p class="textmuted">EPC</p>
                                <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.epc ? 'Yes' : 'No'}}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="textmuted">GrayCard</p>
                              <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.grayCard ? 'Yes' : 'No'}}</p>
                              <p class="textmuted">Auto GearBox</p>
                              <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.autoGearBox ? 'Yes' : 'No'}}</p>
                          </div>
                            <div class="d-flex justify-content-between mb-2">
                              <p class="textmuted">Taxes</p>
                              <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.taxes ? 'Yes' : 'No'}}</p>
                              <p class="textmuted">Insurance</p>
                              <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>{{selectedCar?.insurance ? 'Yes' : 'No'}}</p>
                          </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p class="textmuted fw-bold">Total</p>
                                <div class="d-flex align-text-top ">
                                    <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span><span class="h4">{{selectedCar?.price}} DTN</span>
                                </div>
                            </div>
                      
                        </div>
                        <div class="row m-0 bg-light">
                          <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                              <p class="text-muted">Mileage</p>
                              <p class="h5">{{selectedCar?.mileage}}<span class="ps-1">Km</span></p>
                          </div>
                          <div class="col-md-4 col-6 ps-30 my-4">
                              <p class="text-muted">Color</p>
                              <p class="h5 m-0">{{selectedCar?.color}}</p> 
                          </div>
                          <div class="col-md-4 col-6 ps-30 my-4">
                              <p class="text-muted">Available</p>
                              <p class="h5 m-0">Yes</p>
                          </div>
                          <div class="d-flex justify-content-around mb-2">
                            <p class="textmuted">OWner</p>
                            <p class="fs-14 fw-bold">OwnerName</p>
                          </div>
                          
                        <div class="d-grid mb-2">
                          <p class="fs-14 fw-bold">Description</p>
                          <p style="overflow-wrap: anywhere;" class="textmuted">{{selectedCar?.description}}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
          <!--Fini-->
        </div>
      </div>
    </div>
    <div class="modal-footer" style="margin-top: 20px;display:flex !important;flex-wrap: nowrap">
      <button type="button" class="btn btn-success" data-dismiss="modal">Add to cart</button>
      <button type="button" class="btn btn-primary" (click)="contactCarOwnerFromModal()">Contact Us</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
  </div>

</div>      
</div> 