<div id="Navbar">
    <div class="Centring">

        <div class="links">
                <a href=""><i class="bi bi-house-door"></i>&nbsp; HOME</a>
<a routerLink="/email"><i class="bi bi-envelope"></i> &nbsp;Email</a>                
                <a routerLink="/news"><i class="bi bi-telephone"></i> &nbsp;News</a>    
   
        </div>
        
        <div>
             <a id="imgLink" href="">
                <img width="auto" height="60px" [src]="'assets/imgs/sw-high-resolution-logo-transparent.png'" alt="E">
             </a>
        </div>
        
        <div class="links">
          <a routerLink="/searchs"><i class="bi bi-search"></i> &nbsp;Search</a>  
          <div class="dropdown">
              <button class="dropbtn">Contact</button>
              <div class="dropdown-content">
                <a routerLink="/contactinput">Create</a>
                <a routerLink="/contactlist">List</a>
              </div>
            </div>
                <a href=""><i class="bi bi-cart"></i> &nbsp;CART</a>
                <a routerLink="/AddCar"><i class="bi bi-shop"></i> &nbsp;Add-Car</a>

                <app-notification-bell *ngIf="authService.isAuthenticated()"></app-notification-bell>
 
                <ng-container *ngIf="!authService.isAuthenticated(); else loggedInTemplate">
                  <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Sign Up
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" routerLink="/register" (click)="setUserType('client')">Client Sign Up</a>
                       <a class="dropdown-item" routerLink="/register" (click)="setUserType('expert')">Expert Sign Up</a>
                     </div>
                  </div>
                  <a routerLink="/login"><i class="bi bi-door-open"></i>&nbsp;Login</a>
                 </ng-container>
            <ng-template #loggedInTemplate>
              <a href="" (click)="logout()"><i class="bi bi-box-arrow-right"></i>&nbsp;Logout</a>
              <a href="">{{ authService.getUsername() }}</a>
            </ng-template>
 
        </div>
    </div>
</div>
