<div id="Navbar">
    <div class="Centring">

        <div class="links">
                <a href=""><i class="bi bi-house-door"></i>&nbsp; HOME</a>
                <a href=""><i class="bi bi-shop"></i> &nbsp;CARS-SHOP</a>
<a routerLink="/email"><i class="bi bi-envelope"></i> &nbsp;Email</a>                
                <a routerLink="/news"><i class="bi bi-telephone"></i> &nbsp;News</a>    
   
        </div>
        
        <div>
             <a id="imgLink" href="">
                <img width="auto" height="60px" [src]="'assets/imgs/sw-high-resolution-logo-transparent.png'" alt="E">
             </a>
        </div>
        
        <div class="links">
            <input placeholder="Search" type="text">
            <div class="dropdown">
              <button class="dropbtn">Contact</button>
              <div class="dropdown-content">
                <a routerLink="/contactinput">Create</a>
                <a routerLink="/contactlist">List</a>
              </div>
            </div>
                <a href=""><i class="bi bi-cart"></i> &nbsp;CART</a>   
                <app-notification-list></app-notification-list>
 
            <ng-container *ngIf="!authService.isAuthenticated(); else loggedInTemplate">
              <a routerLink="/register"><i class="bi bi-person"></i>&nbsp;Sign Up</a>
              <a routerLink="/login"><i class="bi bi-door-open"></i>&nbsp;Login</a>
            </ng-container>
            <ng-template #loggedInTemplate>
              <a href="" (click)="logout()"><i class="bi bi-box-arrow-right"></i>&nbsp;Logout</a>
              <a href="">{{ authService.getUsername() }}</a>
            </ng-template>
 
        </div>
    </div>
</div>
