<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img [src]="'http://localhost:8000/uploads/' + user.pictureUrl" alt="Profile picture" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit picture
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{ user.username }}</h5>
                <p class="small text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">{{ user.bankAccount }}</p>
                  <p class="small text-muted mb-0">Bank Account</p>
                            </div>
                <div class="px-3">
                  <p class="mb-1 h5">{{ user.bankAmount }}</p>
                  <p class="small text-muted mb-0">Bank Amount</p>
                            </div>
                <div>
                  <p class="mb-1 h5">{{ user.roles?.join(', ') }}</p>
                  <p class="small text-muted mb-0">Role</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                 <p class="lead fw-normal mb-1">About</p>
                 <div class="p-4" style="background-color: #f8f9fa;">
                   <!-- Conditional rendering based on user role -->
                   <ng-container *ngIf="user.roles.includes('ROLE_CLIENT'); else expertContent">
                     <p class="font-italic mb-1">A client in SwiftWheels website</p>
                   </ng-container>
                   <ng-template #expertContent>
                     <p class="font-italic mb-1">An expert in SwiftWheels website</p>
                     <p class="font-italic mb-1">Job Title: {{ user.jobTitle }}</p>
                     <p class="font-italic mb-0">Speciality: {{ user.speciality }}</p>
                   </ng-template>
                 </div>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>