<div class="dropdown">
  <a class="me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
     <i class="bi bi-bell"></i>
     <span class="badge rounded-pill bg-danger">{{ notificationCount }}</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     <div class="dropdown-header">
       <div class="d-flex justify-content-between align-items-center">
         <h6 class="mb-0" style="color: black;"><strong>Notifications</strong></h6>
         <button class="btn btn-sm btn-outline-primary" (click)="markAllAsRead()">Mark All as Read</button>
       </div>
     </div>
     <ul class="list-group">
       <ng-container *ngIf="notifications.length > 0; else noNotifications">
         <li *ngFor="let notification of notifications" class="list-group-item">
           <button class="btn btn-link" (click)="navigateToMessage(notification)"
                  [class.text-muted]="notification.isRead" style="color: black; text-decoration: none;">
             <p>{{ notification?.message }}</p>
             <strong>{{ notification?.messageTitle }}</strong>
           </button>
         </li>
       </ng-container>
       <ng-template #noNotifications>
         <li class="list-group-item">There are no notifications</li>
       </ng-template>
     </ul>
  </div>
 </div>
 