<div class="dropdown">
  <a class="me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
      role="button" data-bs-toggle="dropdown" aria-expanded="false">
       <i class="bi bi-bell"></i>
       <span class="badge rounded-pill bg-danger">{{ notificationCount }}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <li *ngFor="let notification of notifications">
        <button class="dropdown-item"   (click)="navigateToMessage(notification.messageId)">
          {{ notification?.message }}
          <p class="message-title">{{ notification?.messageTitle }}</p>

      </button>
      </li>
        </ng-container>
       <ng-template  #noNotifications>
           <li class="dropdown-item">There are no notifications</li>
       </ng-template>
  </ul>
 </div>
 