<div class="card-container">
    <h1>Notifications</h1>

  <div class="pagination">
     <button class="btn btn-light" style="margin-right: 10px;" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
     <button class="btn btn-light" style="margin-right: 10px;" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
     Page {{ currentPage }} of {{ totalPages }}
  </div>
  <a *ngFor="let notification of notifications" [routerLink]="['/contact-message', notification.messageId]" class="card">
    
     <div class="card-body">
       <div *ngIf="notification.sender_picture" class="photo-container">
         <img [src]="getPhotoUrl(notification)" alt="Notification Photo">
       </div>
       <div class="card-body-middle">

        <p class="card-username">{{ notification?.sender_username }} sent you a message : {{ notification?.messageTitle }}</p>
         <div class="card-body-middle-bottom">
           <p class="card-text" id="content">{{ notification?.message | ellipsis:210  }}</p>
         </div>
       </div>
       <p class="card-text" id="date">{{ notification?.createdAt | date:'medium' }}</p>
     
       <a href="#" class="btn btn-danger" (click)="deleteNotification(notification.id); $event.preventDefault(); $event.stopPropagation()">Delete</a>


         </div>
     
  </a>
 </div>
 