
<div class="welcome-container">
    <video  autoplay [muted]="'muted'" loop>
        <source src="/assets/Videos/VideoIntro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

         <div id="title">
            <a href="#">
                <img  [src]="'assets/imgs/sw-high-resolution-logo-transparent.png'" alt="E">
            </a>
            <div id="Description">
                <h1>Swift Wheel</h1>
                <p>Welcome to your new friend in car commerce where your journey to find the perfect car begins!</p>
            </div>
        </div>
 </div>