.welcome-container{
    height: 890px;
 }
#title {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15% auto; /* Center vertically */
    padding: 5% 5%;
    border-radius: 40px;
    border: 2px double #98c1d9;
    outline: 5px solid black;
}

#title img {
    width: 100%; /* Make the image responsive */
    max-height: 200px; /* Set maximum height */
    height: auto; /* Maintain aspect ratio */
}
video {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#Deg {
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

zh1 {
    padding: 5% 10%;
    color: #98c1d9;
}

p {
    margin: 0 5%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #title {
        margin: 13% auto;
        padding: 5% 5%;
    }

    zh1 {
        padding: 5% 10%;
        font-size: 1.5em;
    }

    p {
        margin: 0 5%;
        font-size: 0.8em;
    }
}
