<img src="../../../assets/imgs/bg.png" id="theBg">
<div class="container">
    <form #myForm="ngForm" (ngSubmit)="submitted = true; myForm.valid && onSubmit()">
      <h2>Best Place to sell your Car !</h2>

      <div class="form-gorup">
        <label for="pictures">Car pictures</label>
        <input type="file" id="pictures" class="form-control" name="pictures[]" (change)="onFileSelected($event)" multiple required>
      </div>
      <!--mark&Model-->
      <div style=" display: flex; justify-content: flex-start;gap: 20px;">
        <div class="MMC form-group">
          <label for="mark">Mark</label>
          <input type="text" class="form-control" id="mark" name="mark" [(ngModel)]="mark" required #modelControl1="ngModel">
          <!-- Success Alert -->
          <div *ngIf="modelControl1.valid && modelControl1.touched" style="z-index: 3 !important; position: absolute !important;"  class="alert alert-success" role="alert">
              Mark is valid.
          </div>
          <!-- Error Alert for Required Field -->
          <div *ngIf="submitted && modelControl1.invalid && modelControl1.touched" style="z-index: 3 !important; position: absolute !important;" class="alert alert-danger" role="alert">
              Mark is required.
          </div>
        </div>
  
        <div class="MMC form-group">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" name="model" [(ngModel)]="model" required #modelControl2="ngModel">
          <!-- Success Alert -->
          <div *ngIf="modelControl2.valid && modelControl2.touched" style="z-index: 3 !important; position: absolute !important;" class="alert alert-success" role="alert">
              Model is valid.
          </div>
          <!-- Error Alert for Required Field -->
          <div *ngIf="submitted && modelControl2.invalid && modelControl2.touched" style="z-index: 3 !important; position: absolute !important;" class="alert alert-danger" role="alert">
              Model is required.
          </div>
        </div>

      
        <div class="MMC  form-group">
          <label for="color">Color</label>
          <input type="text" class="form-control" id="color" name="color" [(ngModel)]="color">
        </div>
      </div>
      
      <div class="form-group" style="margin-bottom: 30px;">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" min="3000" [(ngModel)]="price" required #modelControl3="ngModel">
        <!-- Success Alert -->
        <div *ngIf="modelControl3.valid && modelControl3.touched && price > 3000" style="z-index: 3 !important; position: absolute !important;" class="alert alert-success" role="alert">
          Price is valid and above 3000.
        </div>
        <!-- Error Alert for Required Field -->
        <div *ngIf="submitted && modelControl3.invalid && modelControl3.touched" style="z-index: 3 !important; position: absolute !important;" class="alert alert-danger" role="alert">
          Price is required and must be above 3000.
        </div>
      </div>
      <!--Options-->
      <div style="display: flex; gap: 30px; justify-content: space-around;">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="abs" name="abs" [(ngModel)]="abs">
          <label class="form-check-label" for="abs">ABS</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="epc" name="epc" [(ngModel)]="epc">
          <label class="form-check-label" for="epc">EPC</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="grayCard" name="grayCard" [(ngModel)]="grayCard">
          <label class="form-check-label" for="grayCard">GrayCard</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="autoGearBox" name="autoGearBox" [(ngModel)]="autoGearBox">
          <label class="form-check-label" for="autoGearBox">autoGearBox</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="taxes" name="taxes" [(ngModel)]="taxes">
          <label class="form-check-label" for="taxes">Taxes</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="insurance" name="insurance" [(ngModel)]="insurance">
          <label class="form-check-label" for="insurance">Insurance</label>
        </div>
      </div>
            <!--Options ENDS-->

      
      <div style="display: flex;justify-content: space-evenly;">
        <div>
          <div class="form-group">
            <label for="mileAge">Mileage</label>
            <input type="number" class="form-control" id="mileAge" name="mileAge" [(ngModel)]="mileage" required #modelControl4="ngModel">  
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" placeholder="1" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity">
          </div>
        </div>
        
      
      <div class="TXTA form-group">
        <label style="margin-left: 30px;" for="description">description</label>
        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="description"></textarea>
      </div>
      </div>


      <div *ngIf="submitted && myForm.invalid" class="alert alert-danger" style="text-align: center;" role="alert">
        Please fill in all required fields.<b>( Mark - Model - Price )</b>
    </div>
    
      <div class="btnG">
        <button class="btn btn-info">Home</button>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Add</button>
        <button class="btn btn-danger">cancel</button>
      </div>
    </form>
  </div>
