<div id="Side">
    <div>
        <ul>
            <li><a href=""><i class="bi bi-house"></i>
                Home-Page
                </a>
            </li>
            <li><a href="">
                <i class="bi bi-person-circle"></i>&nbsp;
                 My Profile
                </a>
            </li>
            <li><a href="">
                <i class="bi bi-cart"></i>&nbsp;
                Your Cart
                </a>
            </li>
            <li>
                <a href=""><i class="bi bi-cart-check"></i>
                    Sell Your Car
                </a>
            </li>
            <li>
                <a href=""><i class="bi bi-person-rolodex"></i>
                Contact Professional
                </a>
            </li>
            <li>
                <a href=""><i class="bi bi-question-octagon"></i>
                    Contact-Us
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>   
    </div>
</div>
