#Side{
    min-height: 97.25vh;
    position: fixed;

}
 
i{
    font-size: 20px;
}
ul{
    list-style-type: none;
    margin: 50px auto 20px auto;
    padding: 0px;
}
a{
    text-decoration: none;
    padding: 20px auto 20px auto;
    display: grid;
    color:white;
    border-radius: 30px;
}



li{ 
    margin: 20px auto 10px auto;
}

a:hover{
    background-color: #98c1d9;
    color: black;
    box-shadow: 3px 3px 20px rgba(152, 193, 217, 0.8); /* Shadow effect */

}