<div class="container">
    <!-- login.component.html -->
    <h2>Login</h2>
    <form (submit)="onSubmit()" class="d-flex flex-column" #loginForm="ngForm">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>