<div class="card-container">
  <h1>Messages</h1>

  <div class="pagination">
    <button class="btn btn-light" style="margin-right: 10px;" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="btn btn-light" style="margin-right: 10px;" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    Page {{ currentPage }} of {{ totalPages }}
  
  </div>
  <a *ngFor="let message of messages" [routerLink]="['/contact-message', message.id]" class="card">
     <div class="card-body">
       <div *ngIf="message.sender.picture_url" class="photo-container">
         <img [src]="'http://localhost:8000/uploads/' + message.sender.picture_url" alt="Message Photo">
       </div>
       <div class="card-body-middle">
         <p class="card-username">{{ message.sender.username }}</p>
         <div class="card-body-middle-bottom">
           <p class="card-title">{{ message.title }}</p>
           <p class="card-text" id="content">{{ message.content | ellipsis:80  }}</p>
         </div>
       </div>
       <p class="card-text" id="date">{{ message.createdAt | date:'medium' }}</p>
     </div>
  </a>
 </div>
 