<div *ngIf="message" class="jumbotron jumbotron-fluid" style="background-color: #f8f9fa; padding:   2rem   2rem;">
  <div class="container">
    <h1 class="display-3" style="color: #007bff;">{{ message.title }}</h1>
    <p class="lead">From: {{ message.sender.username }}</p>
    <hr class="my-4" style="border-color: #007bff;">
    <p style="font-size:   1.25rem;">{{ message.content }}</p>
    <div *ngIf="message.photoUrl" class="photo-container">
      <img [src]="'http://localhost:8000/uploads/' + message.photoUrl" alt="Message Photo">
    </div>
  </div>
</div>
