.container{
   margin-top: 50px;
}
.news-item {
    display: flex;
    width:90%;
    background-color: #070F2B;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .news-image {
    width: 300px; 
    height: auto;
    margin-right: 15px;
    border-radius: 4px;
  }
  
  .news-content {
    flex-grow: 1;
  }
  
  h3 {
    color: #64b5f6;
  }
  
  p {
    color: #bdbdbd;
  }
  
  a {
    color: #90caf9;
  }
  
  a:hover {
    color: #64b5f6;
  }
  