<div class="dropdown">
  <a class="me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
     <i class="bi bi-bell"></i>
     <span class="badge rounded-pill bg-danger">{{ notificationCount }}</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     <div class="dropdown-header">
       <div class="d-flex justify-content-between align-items-center">
         <h6 class="mb-0" style="color: white;"><p>Notifications</p></h6>
         <button id="mark_button" class="btn btn-sm btn-outline-primary" (click)="markAllAsRead()">Mark All as Read</button>
       </div>
     </div>
     <ul class="list-group">
       <ng-container *ngIf="notifications.length > 0; else noNotifications">
        <li *ngFor="let notification of notifications" class="list-group-item" [ngClass]="{ 'unread-notification': !notification.isRead }">
          <img [src]="getPhotoUrl(notification)" alt="Message Photo">

          <button class="btn btn-link" (click)="navigateToMessage(notification)"
                    [class.text-muted]="notification.isRead" style="color: rgb(0, 0, 0); text-decoration: none;">
             <p>{{ notification?.sender_username }} <span class="text-muted">sent you a message : </span>{{ notification?.messageTitle }}</p>
             <p><span class="text-muted">{{ calculateTimeSince(notification?.createdAt) }}</span></p>
          </button>
         </li>
      
      
       </ng-container>
       <ng-template #noNotifications>
         <li class="list-group-item">There are no notifications</li>
       </ng-template>
     </ul>
     <div class="dropdown-footer">
      <button id="see-all" class="btn btn-sm btn-primary w-100" (click)="navigateToNotificationsList()">See All Notifications</button>
   </div>
  </div>
</div>
